<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Sappie - Your Robotic Assistant</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/milligram.min.css">
<style>
    iframe {display: block; height: 100vh; width: 100vw; border: none; }
</style>
<script src="js/jquery-3.7.1.min.js"></script>

<body>

<div class="container">
	<div class="row">
		<div class="column">
			<h1 class="centered">Sappie Control</h1>
		</div>
		<div class="column">
			<a class="button button-primary" href='index.html'>Back</a>
		</div>
	</div>
</div>

<iframe src="http://{{context.sappie_ip}}/controls.html">

<br>

</body>
</html>
