<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Sappie - Your Robotic Assistant</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/milligram.min.css">

<script>

const sense_ip = "192.168.133.248"

function mic_stream(on) {
	$.ajax({
		url: "http://" + sense_ip + "/micstream?on=" + on,
		type: 'GET',
    	dataType: 'text',
    	async: false})
    	.done(function (result) {
		})
		.fail(function (xhr, status) {
			console.log(status);
		})
		.always(function() {
		});

}

function wakeUpSense() {
	$.ajax({
		url: "/wakeupsense",
		type: 'GET',
    	dataType: 'text',
    	async: false})
    	.done(function (result) {
		})
		.fail(function (xhr, status) {
			console.log(status);
		})
		.always(function() {
		});
}
  
</script>

<body>

<div class="container">
	<div class="row">
		<div class="column">
			<h1 class="centered">Sappie Sense Control</h1>
		</div>
		<div class="column">
			<a class="button button-primary" href='index.html'>Back</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="column column-25">
			<div class="button button-outline" onClick="wakeUpSense();">Wake up Sense/Camera</div>
		</div>
		<div class="column column-25">
		</div>
	</div>
</div>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="column column-25">
			<div id="starmic" class="button button-outline" onClick="mic_stream('1');">Start Microphone stream</div>
		</div>
		<div class="column column-25">
			<div id="startmic" class="button button-outline" onClick="mic_stream('0');">Stop Microphone stream</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<div id="stream-container" class="image-container">
<a id="save-still" href="#" class="button save" download="capture.jpg">Save</a>
<img id="stream" src="http://192.168.133.248:81/stream" crossorigin="">
</div>
</body>
</html>
