<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Sappie - Your Robotic Assistant</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/pico.indigo.min.css">
<script src="js/jquery-3.7.1.min.js"></script>

<script>

function displayAction(action) {
	$("#loader").attr("aria-busy", "true");

	var url = "api/displayaction?action=" + action;
	
	if (action == 1 || action == 2 || action == 14) {
		url = "api/displayaction?action=" + action + "&text=" + $("#textField").val(); 	
	}
	if (action==12) {
		url = "api/displayaction?action=" + action + "&index=" + $("#img_index").val();	
	}
	$.ajax({
		url: url,
		type: 'GET',
    	dataType: 'text',
    	async: true
	})
	.done(function (result) {
	})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});
}

function imagetest() {
	$("#loader").attr("aria-busy", "true");

	var imagedata = $("#imagedata").val();

	$.ajax({
		url: "/api/image_test",
		data : JSON.stringify({"image" : imagedata}),
		type: 'POST',
		contentType : 'application/json',
		async: true
	})
	.fail(function (xhr, status, errorThrown) {
		alert(xhr.responseText);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});
}

</script>
<div class="container-fluid">

	<div class="container-fluid" style="position: fixed; background: var(--pico-background-color);">
		<hgroup>
			<nav>
				<ul>
				<h1 class="centered" style="color: var(--pico-secondary);">
				<a href='index.html' style="text-decoration:none;">Robot01<br>Display</a>
				<div id="loader" aria-busy="false" style="display:inline-block;margin-left:2em;"></div>
				</h1>
				</ul>
				  <ul>
					<div class="container-fluid" style="margin-right:2em;">
					<li>
					  <details class="dropdown" style="width:10em;">
						<summary>
						  Menu
						</summary>
						<ul dir="rtl">
						<li><a href='index.html'>Main</a></li>
						<li><a href='managePage.html'>Management</a></li>
						<li><a href='controlsPage.html'>Controls</a></li>
						<li><a href='sensorsPage.html'>Sensors</a></li>
						<li><a href='sensePage.html'>Sense</a></li>
						<li><a href='configPage.html'>Config</a></li>
						</ul>
					  </details>
					</li>
					</div>
				  </ul>
			</nav>
		</hgroup>
		<hr>
	</div>
	<p style="padding-top: 10em;"></p>

	<div class="container">
		<div class="grid">
			<form onsubmit="displayAction(14);">
				<label for="textField">Text to display</label>
				<input type="text" placeholder="Hello" id="textField">
			</form>
		</div>

		<div class="grid" style="margin: var(--pico-spacing);">
			<button class="secondary" onClick="displayAction(14);">Scroll text</button>
			<button class="secondary" onClick="displayAction(1);">Text small</button>
			<button class="secondary" onClick="displayAction(2);">Text large</button>
		</div>		
		
		<h4>Image test</H3>
		<A href="https://javl.github.io/image2cpp/" target="_blank">
		Use for image convert </A> - Plain bytes in hex, remove '0x' and commas from output)
		<div class="grid">
			<form onsubmit="imagetest();return false;">
				<input type="text" placeholder="" id="imagedata">
				<button>Image test</button>
			</form>
		</div>
		<br>
		<h4>Animations</h4>
		<div class="grid" style="margin: var(--pico-spacing);">
			<button class="secondary" onClick="displayAction(18);">Gear animation</button>
			<button class="secondary" onClick="displayAction(19);">Record animation</button>
		</div>
		<div class="grid" style="margin: var(--pico-spacing);">
			<button class="secondary" onClick="displayAction(20);">HourGlass animation</button>
			<button class="secondary" onClick="displayAction(21);">Loader animation</button>
		</div>
		<div class="grid" style="margin: var(--pico-spacing);">
			<button class="secondary" onClick="displayAction(22);">Bell animation</button>
			<button class="secondary" onClick="displayAction(23);">Chat animation</button>
		</div>
	  	
	  	<h4>Pictures</h4>
		<div class="grid" style="margin: var(--pico-spacing);">
			<div>
				<select id="img_index" aria-label="Image to display">
					<option value="0">Agentic</option>
					<option value="1">Chat</option>
					<option value="2">Cheer</option>
					<option value="3">Dislike</option>
					<option value="4">Enjoy</option>
					<option value="5">Happy</option>
					<option value="6">Heart</option>
					<option value="7">Neutral</option>
					<option value="8">Sad</option>
					<option value="9">Thinking</option>
					<option value="10">Eyes only</option>
					<option value="11">Relieved</option>
					<option value="12">Embarrassed</option>
					<option value="13">Fear</option>
				</select>	
			</div>
			
			<div>
				<button onClick="displayAction(12);">Show image</button>
			</div>
		</div>
		
		<div class="grid" style="margin: var(--pico-spacing);">
			<button class="outline" onClick="displayAction(24);">Image loop</button>
		</div>
	  	<h4>Face</h4>
		<div class="grid" style="margin: var(--pico-spacing);">
			<button onClick="displayAction(3);">Neutral face</button>
			<button onClick="displayAction(4);">Face smile</button>
		</div>
	
		<div class="grid" style="margin: var(--pico-spacing);">
			<button class="secondary" onClick="displayAction(5);">Look left</button>
			<button class="secondary" onClick="displayAction(6);">Look right</button>
		</div>
	  
		<div class="grid" style="margin: var(--pico-spacing);">
			<button onClick="displayAction(8);">Blink</button>
			<button onClick="displayAction(9);">Wink</button>
		</div>
		
		<div class="grid" style="margin: var(--pico-spacing);">
			<button onClick="displayAction(10);">Shake</button>
			<button onClick="displayAction(13);">Cylon</button>
		</div>
	
		<h4>Functions</h4>
		<div class="grid" style="margin: var(--pico-spacing);">
			<button onClick="displayAction(11);">Test fill</button>
			<button onClick="displayAction(15);">Scroll left</button>
		</div>
		<div class="grid" style="margin: var(--pico-spacing);">
			<button onClick="displayAction(16);">Scroll right</button>
			<button onClick="displayAction(17);">Stop scroll</button>
		</div>
		
	</div>
</div>
<br>
<br>
</body>
</html>
