<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to robot01 - Your Robotic Assistant</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/pico.indigo.min.css">
<script src="js/jquery-3.7.1.min.js"></script>

<style>
	/**
	Red and green Indicators in css
	*/
	.roundred {background-color: red; border-radius:50% 50% 50% 50%; height: 0.8em; width: 0.8em; display: inline-block; }
	.roundgreen {background-color: red; border-radius:50% 50% 50% 50%; height: 0.8em; width: 0.8em; display: inline-block; }
</style>

<script>

function ask_robot01() {
	$("#loader").attr("aria-busy", "true");

	var text = $("#ask_textField").val();

	$.ajax({
		url: "/api/ask_robot01",
		data : JSON.stringify({"text" : text}),
		type: 'POST',
		contentType : 'application/json',
		async: true
	})
	.done(function (result) {
		$("#ask_textField").val('');
	})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});
}

function health_update() {

	$.ajax({
		url: "/api/health",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		if (result.robot01) {
			$("#robot01status").css({backgroundColor: 'green'});
			$("#robot01latency").html("Latency : " + result.robot01_latency.toFixed(3) + " S.")
		} else {
			$("#robot01status").css({backgroundColor: 'red'});
			$("#robot01latency").html("Latency : NA")
		}
		
		if (result.sense) {
			$("#sensestatus").css({backgroundColor: 'green'});
			$("#senselatency").html("Latency : " + result.sense_latency.toFixed(3) + " S.")
		} else {
			$("#sensestatus").css({backgroundColor: 'red'});
			$("#senselatency").html("Latency :  NA")
		}
		
	})
	.fail(function (xhr, status, errorThrown) {
		console.log( errorThrown);	
	});
		
}


function set_item(item) {
	$("#loader").attr("aria-busy", "true");
	var checked = $('input[name="' + item + '"]').is(':checked');
	$("#"+ item).attr("disabled", true);
	var on = checked ? 1 : 0;
	$.ajax({
		url: "/api/setting?item=" + item + "&value=" + on,
		type: 'GET',
		dataType: 'json',
		async: true
		})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#" + item).attr("disabled", false);
		$("#loader").attr("aria-busy", "false");
	});
}


function change_llm_mode() {
	$("#loader").attr("aria-busy", "true");
	var mode = $('#llm_mode').val();
	
	$.ajax({
		url: "/api/setting?item=llm_mode&value=" + mode,
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});
}

function stop() {
	$("#loader").attr("aria-busy", "true");
	var mode = $('#llm_mode').val();
	
	$.ajax({
		url: "/api/stop",
		type: 'GET',
		async: true
	})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});
}

window.onload = function() {
	health_update();
	setInterval("health_update()",5000);
	
	// Get udp micstreaming status
	$.ajax({
		url: "/api/get_setting?item=micstreaming",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		console.log(result);
		$("#micstreaming").removeAttr("disabled");
		if (result.value) {
			$("#micstreaming").attr("checked", true);
		} else {
			$("#micstreaming").attr("checked", false);
		}
	})
	
	// Get udp audiostream receive
	$.ajax({
		url: "/api/get_setting?item=output",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		 $("#output").removeAttr("disabled");
		 if (result.value) {
		  $("#output").attr("checked", true);
		 } else {
		  $("#output").attr("checked", false);
		 }
		 console.log( result);
	})

	// Get body actions status
	$.ajax({
		url: "/api/get_setting?item=bodyactions",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		 $("#bodyactions").removeAttr("disabled");
		 if (result.value ) {
		  $("#bodyactions").attr("checked", true);
		 } else {
		  $("#bodyactions").attr("checked", false);
		 }
		 console.log( result);
	})

	// Get agent_walking status
	$.ajax({
		url: "/api/get_setting?item=agent_walking",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		 $("#agent_walking").removeAttr("disabled");
		 if (result.value ) {
		  $("#agent_walking").attr("checked", true);
		 } else {
		  $("#agent_walking").attr("checked", false);
		 }
		 console.log( result);
	})

	// Get LLM mode
	$.ajax({
		url: "/api/get_setting?item=llm_mode",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		$("#llm_mode").val(result.value);
		console.log(result);
	})

}

</script>
<body> 

<div class="container-fluid">
	<div class="container-fluid" style="position: fixed; background: var(--pico-background-color);">
		<hgroup>
			<nav>
				<ul>
				<h1 class="centered" style="color: var(--pico-secondary);">
				Robot01
				<div id="loader" aria-busy="false" style="display:inline-block;margin-left:2em;"></div>
				</h1>
				</ul>
				  <ul>
					<div class="container-fluid" style="margin-right:2em;">
					<li>
					  <details class="dropdown" style="width:10em;">
						<summary>
						  Menu
						</summary>
						<ul dir="rtl">
						<li><a href='managePage.html'>Management</a></li>
						<li><a href='controlsPage.html'>Controls</a></li>
						<li><a href='displayPage.html'>Display</a></li>
						<li><a href='sensorsPage.html'>Sensors</a></li>
						<li><a href='sensePage.html'>Sense</a></li>
						<li><a href='configPage.html'>Config</a></li>
						</ul>
					  </details>
					</li>
					</div>
				  </ul>
			</nav>
		</hgroup>
		<hr>
	</div>
	<p style="padding-top: 10em;"></p>

	<div class="container">
		<div class="container">
			<form onsubmit="ask_robot01();return false;">
				<input type="text" placeholder="Ask robot01" id="ask_textField" >
				<div class="grid">
					<button type="submit" class="secondary"> Ask </button>
					</label>
				</div >
			</form> 
			<div class="container-fluid">
				<button class="outline" style="width:100%;" onClick="stop();">stop</button>
			</div>
			<hr>
			<div class="grid" style="margin: var(--pico-spacing);">
				<select name="LLM_Mode" aria-label="llm_mode" id="llm_mode" required onchange="change_llm_mode();">
					  <option>chat mode</option>
					  <option>agent mode</option>
				</select>
				<label>
				<input id="output" onchange="set_item('output');" name="output" type="checkbox" role="switch" disabled/>
				AudioOutput
				</label>
				<label>
				<input id="bodyactions" onchange="set_item('bodyactions');" name="bodyactions" type="checkbox" role="switch" disabled/>
				BodyActions
				</label>
				<label>
				<input id="agent_walking" onchange="set_item('agent_walking');" name="agent_walking" type="checkbox" role="switch" disabled/>
				Agent walking
				</label>
				<label>
				<input id="micstreaming" onchange="set_item('micstreaming');" name="micstreaming" type="checkbox" role="switch" disabled/>
				Miccontrol
				</label>
			</div>	
		</div>
		<hr>
		<div class="grid"">
			<div class="container-fluid"">
				<h6>Robot01 <div id="robot01status" class="roundred"></div></h6>
				<h7><div id="robot01latency"></div></h7>
			</div>
			<div class="container-fluid"">
				<h6>Sense <div id="sensestatus" class="roundred"></div></h6>
				<h7><div id="senselatency"></div></h7>
				<hr>
			</div>
			<figure style="width:10em;">
				<img class="img_centered" src="images/robot01v1.png" />
			</figure>
		</div>	
		<hr>
	</div>
</div>
<br>
<br>
</body>
</html>

