<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to robot01 - Your Robotic Assistant</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/pico.indigo.min.css">
<script src="js/jquery-3.7.1.min.js"></script>

<style>
	.roundred {background-color: red; border-radius:50% 50% 50% 50%; height: 0.8em; width: 0.8em; display: inline-block; }
	.roundgreen {background-color: red; border-radius:50% 50% 50% 50%; height: 0.8em; width: 0.8em; display: inline-block; }
</style>

<script>

function ask_robot01() {
	$("#loader").attr("aria-busy", "true");

	var text = $("#ask_textField").val();
	var vision = $("#vision").is(":checked");

	$.ajax({
		url: "/api/ask_robot01",
		data : JSON.stringify({"text" : text, "vision": vision }),
		type: 'POST',
		contentType : 'application/json',
		async: true
	})
	.done(function (result) {
		$("#ask_textField").val('');
	})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});

}

function update_status() {

	$.ajax({
		url: "http://{{context.robot01_ip}}/health",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		$("#robot01status").css({backgroundColor: 'green'});
	})
	.fail(function (xhr, status, errorThrown) {
		$("#robot01status").css({backgroundColor: 'red'});
		console.log( errorThrown);	
	});

	$.ajax({
		url: "http://{{context.robot01sense_ip}}/health",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		$("#sensestatus").css({backgroundColor: 'green'});
	})
	.fail(function (xhr, status, errorThrown) {
		$("#sensestatus").css({backgroundColor: 'red'});
		console.log( errorThrown);	
	});
		
}

function audio_control() {
	$("#loader").attr("aria-busy", "true");
	var checked = $('input[name="audiostream"]').is(':checked');
	var on = checked ? 1 : 0;
	$.ajax({
		url: "http://{{context.robot01_ip}}/audiostream?on=" + on,
		type: 'GET',
		dataType: 'json',
		async: true
		})
	.fail(function (xhr, status, errorThrown) {
		$("#audiostream").attr("checked", false);
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});
}
	
function mic_stream() {
	$("#loader").attr("aria-busy", "true");
	var checked = $('input[name="micstream"]').is(':checked');
	var on = checked ? 1 : 0;
	$.ajax({
		url: "http://{{context.robot01sense_ip}}/control?setting=micstreaming&param=" + on,
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.fail(function (xhr, status, errorThrown) {
		$("#micstream").attr("checked", false);
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});
}

window.onload = function() {
	update_status();
	setInterval("update_status()",60000);
	
	// Get udp micstream status
	$.ajax({
		url: "http://{{context.robot01sense_ip}}/control?setting=micstreaming",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		console.log(result);
		$("#micstream").removeAttr("disabled");
		if (result.micstreaming == 1 ) {
			$("#micstream").attr("checked", true);
		} else {
			$("#micstream").attr("checked", false);
		}
	})
	
	// Get udp audiostream receive
	$.ajax({
		url: "http://{{context.robot01_ip}}/audiostream",
		type: 'GET',
		dataType: 'json',
		async: true
	})
	.done(function (result) {
		 $("#audiostream").removeAttr("disabled");
		 if (result.audiostream == 1 ) {
		  $("#audiostream").attr("checked", true);
		 } else {
		  $("#audiostream").attr("checked", false);
		 }
		 console.log( result);
	})
}
</script>
<body> 

<div class="container-fluid">
	<div class="container-fluid" style="position: fixed; background: var(--pico-background-color);">
		<hgroup">
			<br>
			<h1 class="centered" style="color: var(--pico-secondary);">
			Sappie - robot01
			<div id="loader" aria-busy="false" style="display:inline-block;margin-left:2em;"></div>
			</h1>
		</hgroup>
		<nav>
			<ul>
				<li><a href='masterPage.html'>Master</a></li>
				<li><a href='controlsPage.html'>Controls</a></li>
				<li><a href='displayPage.html'>Display</a></li>
				<li><a href='sensorsPage.html'>Sensors</a></li>
				<li><a href='sensePage.html'>Sense</a></li>
			</ul>
		</nav>
		<hr>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="container">
			<form onsubmit="ask_robot01();return false;">
				<input type="text" placeholder="Ask robot01" id="ask_textField" >
				<div class="grid">
					<button class="secondary" onClick="ask_robot01(false);"> Ask </button>
					<label for="vision_checkbox">
					<input type="checkbox" name="vision_checkbox" id="vision"/>
					Vision
					</label>
				</div>
			</form> 
			<div class="container">
				<progress id="progress" style="display:none"></progress>
			</div>	
			<br>
			<hr>
			<div class="grid">
				<label>
				<input id="audiostream" onchange="audio_control();" name="audiostream" type="checkbox" role="switch" disabled/>
				Receive UDP Audio
				</label>
				<label>
				<input id="micstream" onchange="mic_stream();" name="micstream" type="checkbox" role="switch" disabled/>
				Microphone stream
				</label>
			</div>	
		</div>
		<hr>
		<div class="container"">
			<h6>Robot01 <div id="robot01status" class="roundred"></div> Sense <div id="sensestatus" class="roundred"></div></h6>
		</div>
		<div class="grid"">
			<figure style="width:10em;">
				<img class="img_centered" src="images/robot01v1.png" />
			</figure>
		</div>	
		<hr>
	</div>
</div>
<br>
<br>
</body>
</html>
