<!DOCTYPE html>
<html lang="en">
<head>
	<title>robot01 sensors</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/pico.indigo.min.css">
<script src="js/jquery-3.7.1.min.js"></script>

<script>

const accuracyLevels_BNO08X = [
	"Unreliable",
	"low",
	"medium",
	"high"
];

const rangestatus_VL53L1 = [
	"Valid",
	"Sigma check above threshold",
	"Signal below threshold",
	"FAIL, Phase out of bounds",
	"HW or VCSEL failure",
	"Not matching phases",
	"Algorithm underflow or overflow",
	"Reported range is invalid"
];

function update_VL53L1X() {
	$.ajax({
		url: "api/VL53L1X_Info",
		type: 'GET',
    	dataType: 'json',
    	async: true
    })
    .done(function (result) {
		$( "#ph_distance" ).html(result.range_mm + " mm.");
		$( "#ph_ambient" ).html(result.ambient_count );
		$( "#ph_peak" ).html(result.peak_signal );
		$( "#ph_status" ).html(rangestatus_VL53L1[result.range_status]);
	})
    .fail(function (xhr, status, errorThrown) {
		console.log(status);
	});	
}

function update_BNO08X() {
        
	$.ajax({
		url: "api/BNO08X_Info",
		type: 'GET',
    	dataType: 'json',
    	async: true
	    })	
		.done(function (result) {
			$( "#accuracy" ).html(accuracyLevels_BNO08X[result.accuracy]);
			$( "#shake" ).html(result.shake );

			$( "#yaw" ).html(result.yaw.toFixed(2));
			$( "#pitch" ).html(result.pitch.toFixed(2));
			$( "#roll" ).html(result.roll.toFixed(2));

			$( "#linearAcceleration_x" ).html( result.linearAcceleration_x.toFixed(2) + " m/s^2");
			$( "#linearAcceleration_y" ).html( result.linearAcceleration_y.toFixed(2)  + " m/s^2");
			$( "#linearAcceleration_z" ).html( result.linearAcceleration_z.toFixed(2) + " m/s^2");

		})
		.fail(function (xhr, status, errorThrown) {
			console.log(status);
		});	
}

window.onload = function() {
	setInterval("update_VL53L1X()",1000);
	setInterval("update_BNO08X()",1000);
}

</script>

<body>
<div class="container-fluid">
	<div class="container-fluid" style="position: fixed; background: var(--pico-background-color);">
		<hgroup>
			<nav>
				<ul>
				<h1 class="centered" style="color: var(--pico-secondary);">
				<a href='index.html' style="text-decoration:none;">Robot01<br>Sensors</a>
				<div id="loader" aria-busy="false" style="display:inline-block;margin-left:2em;"></div>
				</h1>
				</ul>
				  <ul>
					<div class="container-fluid" style="margin-right:2em;">
					<li>
					  <details class="dropdown" style="width:10em;">
						<summary>
						  Menu
						</summary>
						<ul dir="rtl">
						<li><a href='index.html'>Main</a></li>
						<li><a href='managePage.html'>Management</a></li>
						<li><a href='controlsPage.html'>Controls</a></li>
						<li><a href='displayPage.html'>Display</a></li>
						<li><a href='sensePage.html'>Sense</a></li>
						<li><a href='configPage.html'>Config</a></li>
						</ul>
					  </details>
					</li>
					</div>
				  </ul>
			</nav>
		</hgroup>
		<hr>
	</div>
	<p style="padding-top: 10em;"></p>
	
	<div class="container">
		<h2> Distance sensor (VL53L1X)</h2>
		<div class="grid">
			<div><b>Distance : </b></div><div id='ph_distance'></div>
		</div>
		<div class="grid">
			<div><b>Ambient : </b></div><div id='ph_ambient'></div>
		</div>
		<div class="grid">
			<div><b>Peak : </b></div><div id='ph_peak'></div>
		</div>
		<div class="grid">
			<div><b>Status : </b></div><div id='ph_status'></div>
		</div>
		<br>
		<hr>
		<h2> Gyro sensor (BNO08X)</h2>
		<div class="grid">
			<div><b>Accuracy : </b></div><div id='accuracy'></div>
		</div>
		<div class="grid">
			<div><b>Shake : </b></div><div id='shake'></div>
		</div>
		<br>
		<div class="grid">
			<div><b>Yaw : </b></div><div id='yaw'></div>
		</div>
		<div class="grid">
			<div><b>Pitch : </b></div><div id='pitch'></div>
		</div>
		<div class="grid">
			<div><b>Roll : </b></div><div id='roll'></div>
		</div>
		<br>
		<div class="grid">
			<div><b>X Acceleration : </b></div><div id='linearAcceleration_x'></div>
		</div>
		<div class="grid">
			<div><b>Y Acceleration : </b></div><div id='linearAcceleration_y'></div>
		</div>
		<div class="grid">
			<div><b>Z Acceleration : </b></div><div id='linearAcceleration_z'></div>
		</div>
		<br>
	</div>
</div>
<br>
<br>
</body>
</html>
