<!DOCTYPE html>
<html lang="en">
<head>
	<title>robot01 Sense Control</title>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/pico.indigo.min.css">
<script src="js/jquery-3.7.1.min.js"></script>

<script>

function mic_gain() {
	var gain = $("#micgain").val();

	$.ajax({
		url: "http://{{context.robot01sense_ip}}/control?setting=micgain&param=" + gain ,
		type: 'GET',
    	dataType: 'json',
    	async: true
    })
    .done(function (result) {
	})
    .fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});	

}

function cam_stream() {

	$("#loader").attr("aria-busy", "true");
	var checked = $('input[name="camstream"]').is(':checked');
	var on = checked ? 1 : 0;
	console.log(on);

	$.ajax({
		url: "http://{{context.robot01sense_ip}}/control?setting=camstreaming&param=" + on,
		type: 'GET',
    	dataType: 'json',
    	async: true
	})
	.done(function (result) {
		console.log(result);
	})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});	

}

function wakeUpSense() {
	$("#loader").attr("aria-busy", "true");

	$.ajax({
		url: "/wakeupsense",
		type: 'GET',
    	dataType: 'text',
    	async: true 
    })
	.fail(function (xhr, status,errorThrown ) {
		alert(errorThrown);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});	
}

function cam_capture() {
	$("#loader").attr("aria-busy", "true");
    d = new Date();
    $("#capture-img").attr('src', "http://{{context.robot01sense_ip}}:80/capture?"+d.getTime());
	$("#loader").attr("aria-busy", "false");
}

function cam_receive() {
	$("#loader").attr("aria-busy", "true");
    $("#capture-img").attr('src', "http://{{context.robot01sense_ip}}:81/stream");
	$("#loader").attr("aria-busy", "false");
}

function cam_resolution(res) {
	$("#loader").attr("aria-busy", "true");
	$.ajax({
		url: "http://{{context.robot01sense_ip}}/control?setting=framesize&param=" + res,
		type: 'GET',
    	dataType: 'json',
    	async: true 
	})
	.done(function (result) {
	})
	.fail(function (xhr, status, errorThrown) {
		alert(errorThrown);
		console.log(status);
	})
	.always(function() {
		$("#loader").attr("aria-busy", "false");
	});	
}
  
function erase_config() {
	$.ajax({
		url: "http://{{context.robot01sense_ip}}/eraseconfig",
		type: 'GET',
    	dataType: 'text',
    	async: true 
    })
	.done(function (result) {
		alert("Erase config initiated.");
	})
	.fail(function (xhr, status,errorThrown ) {
		alert(errorThrown);
	})
}

window.onload = function() {

	// Get mic gain
	$.ajax({
		url: "http://{{context.robot01sense_ip}}/control?setting=micgain",
		type: 'GET',
    	dataType: 'json',
    	async: true
    })
    .done(function (result) {
		console.log(result);
		$("#micgain").removeAttr("disabled");
    	$("#micgain").val(result.micgain);
	})

	// Get camstream status
	$.ajax({
		url: "http://{{context.robot01sense_ip}}/control?setting=camstreaming",
		type: 'GET',
    	dataType: 'json',
    	async: true
    })
    .done(function (result) {
		console.log(result);
		$("#camstream").removeAttr("disabled");
		if (result.camstreaming === 1 ) {
			$("#camstream").attr("checked", true);
		} else {
			$("#camstream").attr("checked", false);
		}
	})

}

</script>

<body>
<div class="container-fluid">
	<div class="container-fluid" style="position: fixed; background: var(--pico-background-color);">
		<hgroup">
			<br>
			<h1 class="centered" style="color: var(--pico-secondary);">
			Sense control
			<div id="loader" aria-busy="false" style="display:inline-block;margin-left:2em;"></div>
			</h1>
			<a href='index.html'>Back</a>
		</hgroup>
		<hr>
	</div>
	<p style="padding-top: 10em;"></p>

	<div class="container">
		<h3>Controls</h3>
		<button class="secondary" onClick="wakeUpSense();">Wake up Sense/Camera</button>
		<br>
		<br>
		<label>
			<h6>Microphone Gain</h6>
			<input id="micgain" type="range" onchange="mic_gain();" min="0" max="30" value="5" step="1"/>
		</label>

		<div class="grid">
			<label>
			<input id="camstream" onchange="cam_stream();" name="camstream" type="checkbox" role="switch" disabled/>
			Camera stream
			</label>
			<hr>
		</div>
		<hr>
		<div class="grid">
			<button id="capture" class="secondary" onClick="cam_capture();">Show Capture</button>
			<button id="stream" class="secondary" onClick="cam_receive();">Show Stream</button>
		</div>	
		<br>
		<article style="display: block; margin: 0 auto; width: 50%;">
			<img style="display: block; margin: 0 auto;" id="capture-img" src="" crossorigin="">
		</article>
		<br>	
		<h3>Resolution</h3>
		<div role="group">
			<button id="camres5" onClick="cam_resolution('5');">320x240</button>
			<button id="camres8" onClick="cam_resolution('8');">640x480</button>
		</div>
		<div role="group">
			<button id="camres9" onClick="cam_resolution('9');">800x600</button>
			<button id="camres10" onClick="cam_resolution('10');">1024x768</button>
		</div>
		<div role="group">
			<button id="camres11" onClick="cam_resolution('11');">1280x720</button>
		</div>
		<hr>
		<button id="eraseconfig" style="background-color: red;"onClick="erase_config();">Erase Sense</button>
	</div>
</div>
<br>
<br>
</body>
</html>
