/* Style the body */
body {
  font-family: Arial;
  padding 1em; 
  margin 1em;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.content {padding:20px;}
.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;	
	width: 80%;
}

.img_centered {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}
