[Unit]
Description=My test service
After=multi-user.target
[Service]
Type=simple
User=dion
Restart=always
ExecStart=/usr/bin/python3 /home/dion/Sappie_Master/sappieserver.py
[Install]
WantedBy=multi-user.target
